.form {
    display: flex;
    flex-basis: 400px;
    flex-wrap: wrap;
    align-items: center;
}

.form__labelText {
    width: 100%;
    max-width: 175px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form__fieldset {
    justify-content: space-around;
    border-radius: 5px;
    background-color: rgb(255 255 255 / 83%);
}

.form__legend {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

.form__field {
    padding: 5px;
    width: 100%;
    max-width: 165px;
    border-radius: 5px;
}

.form__paragraph {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
}

.form__field:invalid {
    background-color: rgba(250, 173, 173, 0.215);
}

.form__button {
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}