.table {
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto;
}

.table__caption {
    caption-side: bottom;
    margin: 10px;
    font-weight: bold;
}

.table__row {
    background-color: white;
}

.table__row:hover {
    background-color: #ddd;
}

.table__cell {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

.table__header {
    background-color: hsl(138, 34%, 25%);
    color: white;
    font-weight: normal;
    padding: 10px;
}

.table__header:hover {
    background-color: hsl(138, 34%, 35%);
    color: white;
    font-weight: normal;
}